body {
    background-color: #140026;
    color: white;
    margin: 0;
    padding: 0;
    font-family: "franklin gothic", Arial, Times;
}

#Header {
    position: relative;
    top: 0;
    display: block;
    width: 100%;
    background-color: #f1fc28;
    z-index: 1;
}

#Header #Menu div {
    display: inline-block;
}
    
#Header #Menu h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}

#Header #Menu h2 {
    margin: 0 0 0 -4px;
    padding-top: 27px;
    padding-bottom: 22px;
}

#Header #Menu a:visited {
    color: #f1fc28;
}

.NavHeader {
    border: 1px solid black;
    color: #bc0000;
}

#LogoutBlock {
    color: black;
    margin-top: 1px;
    margin-right: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

#LogoutBlock > p {
    text-align: center;
    font-size: 14px;
    line-height: 7px;
}

#Line { 
    background-color: #bc0000;
    height: 2px;
    width: 100%;
}

#HeaderCurrentPage {
    color: #f1fc28;
    background-color: #bc0000;
}

#titleLogin {
    position: absolute;
    top: 0;
    margin: 5px 10px;
    font-size: 50px;
    color: #bc0000;
}

#Page {
    margin-top: 0;
    width: 100%;
}

#Sidebar {
    border: 6px double #f1fc28;
}

#Sidebar ul {
    list-style-type: none;
    display: block;
}

#Sidebar ul li {
    list-style-type: none;
    font-size: 12px;
    margin-bottom: 4px;
}

#BachContent h2 {
    text-align: left;
    margin-left: 10px;
}

.Post {
    display: block;
    border: 1px dotted white;
    padding-top: 8px;
    padding-left: 8px;
}

.contentPost * {
    display: block;
}

.Post > p {
    position: relative;
    display: inline-block;
    color: grey;
    font-size: 16px;
    margin-left: 6px;
    bottom: 29px;
}

.Post > img {
    height: 45px;
    width: 60px;
}

.contentPost {
    position: relative;
    top: -30px;
}

.contentPost img {
    width: 100%;
    height: 100%;
    max-height: 400px;
    max-width: 300px;
}

#profImageBox {
    border: 2px dotted white;
    font-size: 40px;
    text-align: center;
}

.row {
    display: table-row;
}

#Page #divForm label, #formLogin label{
    display: table-cell;
    margin: 8px 10px;
}

#formLogin label {
    font-size: 20px;
}

#Page #divForm input, #Page #divForm textarea, #formLogin input {
    display: table-cell;
    margin: 8px 10px;
}

#label_ta {
    position: relative;
    bottom: 60px;
}

#Page #divForm textarea {
    resize: vertical;
}

#formLogin {
    background-color: #f1fc28;
    color: #bc0000;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -200px;
    height: 300px;
}

#formLogin h2 {
    text-align: center;
    font-size: 40px;
}

#formLogin button {
    position: relative;
    left: 50%;
    top: 40px;
    font-size: 24px;
    padding: 5px 100px;
}

input[type=text]:focus, input[type=password]:focus,
input[type=url]:focus, textarea:focus {
    background-color: lightsteelblue;
}

a:link {
    color: lightblue;
}

a:visited {
    color: lightseagreen;
}

#LogoutBlock a:hover, #Page a:hover {
    font-weight: bold;
}

a:active {
    font-style: italic;
}

@media only screen and (min-width: 1024px) {
    #Header {
        position: fixed;
    }
    
    #Header #Menu {
        display: inline-block;
        float: left;
    }
    
    #Header #Menu h1 {
        display: inline-block;
        padding-left: 30px;
        padding-right: 30px;
    }  
    
    #Header #Menu h2 {
        display: inline-block;
        padding-right: 25px;
        padding-left: 25px;
    }
    
    #Header #Menu #UnderLineBackG {
        display: inline-block;
    }
    
    .RBorder {
        border-right-width: 2px;
    }
    
    #LogoutBlock {
        display: inline-block;
        float: right;
    }

    #Line { 
        margin-top: 78px;
    }
    
    #Sidebar {
        float: left;
        margin-top: 20px;
        padding: 5px 30px 20px 0;
    }

    #Sidebar h3 {
        margin-left: 30px;
    }
    
    #BachContent {
        display: inline-block;
        margin-left: 40px;
        width: 60%;
    }

    .Post {
        width: 100%;
    }
    
    .contentPost {
        left: 75px;
    }

    #profImageBox {
        position: relative;
        display: inline-block;
        float: left;
        top: 20px;
        left: 20px;
        padding: 30px 40px;
    }
    
    #Page #divForm {
        position: relative;
        display: inline-table;
        top: 10px;
        left: 30px;
        width: 100%;
    }
    
    #Page form {
        display: inline;
        float: left;
        width: 70%;
    }
    
    #Page #divForm label, #formLogin label{
        width: 200px;
    }
    
    #formLogin label {
        padding-left: 117px;
    }
    
    #Page #divForm input, #Page #divForm textarea, #formLogin input {
        width: 84%;
    }
    
    #Page form button {
        width: 89%;
        min-width: 650px;
        position: relative;
        top: 10px;
        left: 30px;
        display: block;
    }
    
    #formLogin {
        margin-left: -300px;
        width: 600px;
    }
    
    #formLogin button {
        margin-left: -131px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 1024px) {
    #Header {
        position: fixed;
    }
    
    #Header #Menu {
        display: inline-block;
        float: left;
    }
    
    #Header #Menu h1 {
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
    }   
    
    #Header #Menu h2 {
        display: inline-block;
        margin: 0 0 0 -4px;
        padding-right: 5px;
        padding-left: 5px;
    }
    
    #Header #Menu #UnderLineBackG {
        display: inline-block;
    }

    .RBorder {
        border-right-width: 2px;
    }
    
    #LogoutBlock {
        display: inline-block;
        float: right;
    }
    
    #Line { 
        margin-top: 78px;
    }
    
    #Sidebar {
        float: left;
        margin-top: 20px;
        padding: 5px 10px 5px 0;
    }
    
    #Sidebar h3 {
        margin-left: 15px;
    }
    
    #Sidebar ul li {
        margin-left: -15px;
    }
    
    #BachContent {
        display: inline-block;
        width: 70%;
        margin-left: 5px;
    }
    
    .Post {
        min-width: 325px;
    }
    
    .contentPost {
        left: 20px;
    }
    
    #profImageBox {
        position: relative;
        display: inline-block;
        float: left;
        top: 20px;
        left: 10px;
        padding: 30px 40px;
    }
    
    #Page #divForm {
        position: relative;
        display: inline-table;
        top: 140px;
        left: -100px;
        width: 35%;
    }
    
    #Page #divForm label {
        min-width: 10px;
        font-size: 13px;
    }
    
    #Page #divForm input, #Page #divForm textarea, #formLogin input {
        width: 100%;
        min-width: 20px;
    }
    
    #Page form button {
        display: block;
        position: relative;
        top: 140px;
        left: 130px;
        width: 36%;
        min-width: 260px;
        margin: 0;
    }
    
    #formLogin {
        margin-left: -150px;
        width: 400px;
    }
    
    #formLogin label {
        padding-left: 50px;
    }
    
    #formLogin button {
        margin-left: -131px;
    }
}

@media only screen and (max-width: 480px) {
    #Header {
        position: relative;
        top: -15px;
        height: 285px;
    }
    
    #Header #Menu {
        position: relative;
        display: block;
        top: 10px;
        width: 100%;
    }
    
    #Header #Menu h1, #Header #Menu h2 {
        display: block;
        text-align: center;
    }
    
    #Header #Menu #UnderLineBackG a:visited {
        color: #bc0000;
    }
    
    #LogoutBlock {
        position: relative;
        display: block;
        top: 10px;
    }
    
    #Line {
        display: none;
    }
    
    #Sidebar {
        display: block;
        position: relative;
        padding: 5px 10px 5px 0;
    }
    
    #Sidebar h3 {
        margin-left: 15px;
    }
    
    #Sidebar ul li {
        margin-left: -15px;
    }
    
    #BachContent {
        position: relative;
        display: block;
        width: 98%;
        margin-left: 5px;
    }
    
    .Post {
        min-width: 360px;
    }
    
    .contentPost {
        left: 20px;
    }
    
    #profImageBox {
        position: relative;
        display: block;
        left: 40%;
        width: 110px;
        padding: 32px 0;
        margin: 5px 0;
    }
    
    #Page form {
        margin-bottom: 20px;
    }
    
    #Page #divForm {
        display: table;
        margin-left: 20px;
    }
    
    #Page #divForm label {
        width: 200px;
    }
    
    #Page #divForm input, #Page #divForm textarea, #formLogin input {
        width: 200px;
    }
    
    #Page form button {
        display: block;
        width: 415px;
        margin-left: 20px;
    }
    
    #formLogin {
        left: 0%;
        margin-left: 40px;
        width: 350px;
    }
    
    #formLogin label {
        padding-left: 25px;
    }
    
    #formLogin button {
        margin-left: -131px;
    }
}