body {
    background-color: #140026;
    color: white;
    margin: 0;
    padding: 0;
    font-family: "franklin gothic", Arial, Times;
}

#Header {
    display: inline-block;
    width: 100%;
    background-color: #f1fc28;
}

#Header h1, #Header h2 {
    color: #bc0000;
}

#Header #Menu {
    display: inline-block;
    float: left;
}

#Header #Menu h1 {
    display: inline-block;
    padding: 20px 30px;
    margin: 0;
}

#Header #Menu h2 {
    display: inline-block;
    margin: 0;
    margin-left: -4px;
    padding-top: 27px;
    padding-bottom: 22px;
    padding-right: 25px;
    padding-left: 25px;
}

.NavHeader {
    border: 1px solid black;
}

.RBorder {
    border-right-width: 2px;
}

#LogoutBlock {
    display: inline-block;
    color: black;
    float: right;
    margin-top: 1px;
    padding-left: 8px;
    padding-right: 8px;
}

.Logout {
    text-align: center;
    line-height: 7px;
}

#BachContent h2 {
    text-align: left;
    margin-left: 20px;
}

.ProfileName {
    color: grey;
    font-size: 20px;
}

a:link {
    color: blue;
}

a:visited {
    color: #c11dd3;
}

a:hover {
    font-weight: bold;
    font-size: 17px;
}

a:active {
    font-style: italic;
}